.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: Spartan-Bold;
    src: url(./images/spartan-bold.ttf);
}
body{
    font-family: Spartan-Bold;
}
.firstcolor{
    background-color: hsl(222, 26%, 31%);
}
.firstcolor1{
    background-color: hsl(0, 0%, 90%);
}
.firstcolor2{
    background-color: hsl(268, 75%, 9%);
}
.calc{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;  
}
.head{
    margin: 20px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.input_property{
    margin-left: 19px;
    height: 60px;
    width: 380px;
    border-radius: 10px;
    box-shadow: none;
    font-size: 40px;
    text-align: right;
    line-height: 65px;
    padding: 25px;
    text-overflow: clip;
}
.input{
    background-color: hsl(224, 36%, 15%);
    color: white;
}
.input1{
    background-color: hsl(0, 0%, 93%);
    color: hsl(60, 10%, 19%);
}
.input2{
    background-color: hsl(268, 71%, 12%);
    color: #ffe53d;
}
.color{
    color: white;
}
.color1{
    color: hsl(60, 10%, 19%);
}
.color2{
    color: #ffe53d;
}
.calctext{
    font-size: 29px;
}
.themetext{
    font-size: 10px;
}
.switch{
    display: flex;
    flex-direction: column;
}
.togglebox_property{
    border-radius: 10px;
    padding: 3px;
    width: 45px;
    display: flex; 
    margin-left: 0px;
    
}
.togglebox{
    background-color: hsl(223, 31%, 20%);
}
.togglebox1{
    background-color: hsl(0, 5%, 81%);
}
.togglebox2{
    background-color: hsl(268, 71%, 12%);
}
.toggle_property{
    width: 13px;
    height: 13px;
    border-radius: 20px;
    margin: 1px;
    cursor: pointer;
    background-color: inherit;
    border: none;
}
.toggle{
    background-color: hsl(6, 63%, 50%);
}
.toggle1{
    background-color: hsl(6, 63%, 50%);
}
.toggle2{ 
    background-color: hsl(176, 100%, 44%);
}
.keypad_property{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    font-size: 25px;
}
.keypad{
    background-color: hsl(223, 31%, 20%);
}
.keypad1{
    background-color: hsl(0, 5%, 81%);
}
.keypad2{
    background-color: hsl(268, 71%, 12%);
}
.keyrow{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.key_property{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
}
.key_property1{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
}
.themekey1{
    background-color: hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%);
    box-shadow: 0 3px hsl(28, 16%, 65%); 
}
.themekey1_1{
    background-color: hsl(225, 21%, 49%);
    color: white;
    box-shadow: 0 3px hsl(224deg 28% 35%);
    font-size: 17px;
    vertical-align: middle;

}
.themekey1_2{
    background-color: hsl(6, 63%, 50%);
    color: white;
    box-shadow: 0 3px hsl(6, 70%, 34%);  
}
.themekey2{
    background-color: hsl(45, 7%, 89%);
    color: hsl(60, 10%, 19%);
    box-shadow: 0 3px hsl(35, 11%, 61%);
}
.themekey2_1{
    background-color: hsl(185, 42%, 37%);
    color: white;
    box-shadow: 0 3px hsl(185, 58%, 25%);
    font-size: 17px;
}
.themekey2_2{
    background-color: hsl(25, 98%, 40%);
    color: white;
    box-shadow: 0 3px hsl(25, 99%, 27%);
}
.themekey3{
    background-color: hsl(268, 47%, 21%);
    color: hsl(52, 100%, 62%);
    box-shadow: 0 3px hsl(290, 70%, 36%);
}
.themekey3_1{
    background-color: hsl(281, 89%, 26%);
    color: hsl(0, 0, 100%);
    box-shadow: 0 3px hsl(290, 70%, 36%);
    font-size: 17px;
}
.themekey3_2{
    background-color: hsl(176, 100%, 44%);
    color: hsl(198, 20%, 13%);
    box-shadow: 0 3px hsl(177, 92%, 70%);
}
@media only screen and (max-width: 480px) {
    .input_property{
        width: 250px;
    }
    .key_property{
        width: 60px;
        height: 40px;
    }
    .keypad_property{
        row-gap: 10px;
        padding: 15px;
    }
    .key_property1{
        width: 130px;
        height: 40px;
        line-height: 45px;
    }
    .keyrow{
        column-gap: 10px;
    }
}
